.podcast-page__container {
  display: flex;
  padding: 2rem 0;
  gap: 6rem;
}

.podcast-page__aside {
  max-width: 20rem;
}

.podcast-page__section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.podcast-page__episode-title--skeleton {
  width: 100%;
  height: 5rem;
}

.podcast-page__episode-list--skeleton {
  width: 100%;
  height: 50rem;
}
