.podcast-page__container {
  display: flex;
  padding: 2rem 0;
  gap: 6rem;
}

.podcast-page__aside {
  max-width: 20rem;
}

.podcast-page__section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
