.podcasts-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.podcasts-container .podcasts-container__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2.5rem;
  grid-row-gap: 5rem;
  padding: 1rem;
  grid-auto-rows: auto;
}

.podcasts-container .podcasts-container__filter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
