.podcast-card-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.podcast-card-detail__image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.podcast-card-detail__image {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
}

.podcast-card-detail__title {
  color: var(--color-black);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 0;
  margin-top: 0;
}

.podcast-card-detail__author {
  color: var(--color-black);
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.podcast-card-detail__description {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.podcast-card-detail__subtitle {
  color: var(--color-black);
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0;
}

.podcast-episode-detail__skeleton {
  width: 100%;
  height: 40rem;
}
