.podcast-card {
  padding-top: 5rem;
}

.podcast-card .podcast-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.podcast-card .podcast-card__image {
  border-radius: 100%;
  object-fit: cover;
  margin-top: -5rem;
}

.podcast-card .podcast-card__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.podcast-card .podcast-card__author {
  color: var(--color-gray);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 0.5rem 0;
}

.podcast-card--skeleton {
  width: 20rem;
  height: 14rem;
}
