* {
  --app-layout-max-width: 90rem;

  /** Colors */
  --color-primary: steelblue;
  --color-secondary: lightgray;
  --color-gray: #7a7a7a;
  --color-placeholder: #8b8b8b;

  /* Headings styles */
  --heading-h1-font-size: 2rem;
}
