.badge {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}
