table {
  border-collapse: collapse;
}

table tr th {
  background-color: var(--color-white);
  text-align: left;
  border-bottom: 1px solid var(--color-secondary);
  padding: 1rem 0.5rem;
}

table tr {
  border-bottom: 1px solid var(--color-secondary);
}

table tr td {
  padding: 1rem 0.5rem;
}

table tr:nth-child(odd) {
  background-color: var(--color-lightgray);
}
